<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195290147414-12ii3ja8cmoo53ri9h3gvl231dr49bgm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195290147414-12ii3ja8cmoo53ri9h3gvl231dr49bgm</string>
	<key>API_KEY</key>
	<string>AIzaSyDIgnMTczYKVEvhxxlOiLl7M8BKcfHFIQc</string>
	<key>GCM_SENDER_ID</key>
	<string>195290147414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erdeminmez.petwork</string>
	<key>PROJECT_ID</key>
	<string>petwork-92a4c</string>
	<key>STORAGE_BUCKET</key>
	<string>petwork-92a4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195290147414:ios:c0e04b0049dcc0a28ee9f7</string>
</dict>
</plist>